  
<section class="centered">
  <div class="container">
    <img src="{{_site_root}}{{globals:main_logo}}">
  </div>
</section>

<nav class="navbar">
  <div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
    <div class="navbar-header">
<div class="row">
  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <a class="navbar-brand" href="#">Menu</a>
</div>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="{{ _site_root }}">Home</a></li>
        {{ nav from="/suppliers" max_depth="4" folders_only="false" }}
        <li>
          <a href="{{ url }}"{{ if is_current || is_parent }} class="on"{{ endif }}>{{ title|smartypants|widont }}</a>
        </li>
       {{ /nav }}
      </ul>
      </div>
      </div>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>



  <div class="container">
    <div class="col-md-10 col-md-offset-1">
    <div class="row">

<!-- {{ content }} -->


{{ content_blocks }}


  {{ if type == "split_blue" }}

  <section class="split-text">
    <div class="left col-md-3"></div>
    <div class="content col-md-6">
    {{ my_grid }}
          <p>{{ text }}</p>
      {{ /my_grid }}
    </div>
    <div class="right col-md-3"></div>
  </section>

  {{ elseif type == "image_header_set" }}

    <section class="image">
      <img src="{{ path src="{{ photo }}" }}" alt="{{ caption }}" />
      <figcaption>{{ caption }}</figcaption>
    </section>

  {{ elseif type == "image_set" }}
    
    <section class="images">
    <div class="row">
      {{ my_grid }}
        <div class="col-md-4">
          <img src="{{ path src="{{ image }}" }}" alt="{{ caption }}" />
        </div>
      {{ /my_grid }}
    </div>
    </section>

  {{ elseif type == "content_set" }}

    <section class="content">
      <div class="row">
        <div class="col-md-10">
          {{ if header }}<h3>{{ header }}</h3>{{ endif }}
          {{ info }}
        </div>
      </div>
    </section>

  {{ elseif type == "agenda_set" }}

    <section class="content agenda">
      <h3>{{ header }}</h3>
      {{ my_grid }}
      <div class="row">
        <div class="col-md-3"><p>{{ column_1 }}</p></div>
        <div class="col-md-7"><p>{{ column_2 }}</p></div>
      </div>
      {{ /my_grid }}
    </section>

  {{ elseif type == "quote_set" }}
    
  <section class="quote">
    {{ my_grid }}
      <div class="quote-content">
        <setquote>{{ quote }}</setquote>
        <p>&mdash; {{ cite }}</p>
      </div>
    {{ /my_grid }}
  </section>

  {{ elseif type == "image_set" }}

    <section class="image">
      <img src="{{ path src="{{ photo }}" }}" alt="{{ caption }}" />
      <figcaption>{{ caption }}</figcaption>
    </section>

  {{ elseif type == "divider" }}

    <div class="divider"></div>

  {{ endif }}

{{ /content_blocks }}

      </div>
    </div>
  </div>
