
.video {
	background-color: $light-gray;
	position: relative;
	padding: 0;
	margin: 15px 0;
	&:hover, &:focus {
		cursor: pointer;
	}
	h2 {
		z-index: 2;
	}
}
// .video h2 {
// 	@include vertical-align;
// }

.video video {
    position:relative;
    width: 100%;
    z-index:0;
}
.video .overlay {
    position:absolute;
    top:0;
    bottom: 0;
    left:0;
    right: 0;
    z-index:1;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  	align-content: center;
  	text-align: center;
  	transition: all 0.5s;

    &.mask {
    	background-color: rgba(black,.4);
    }
}

#controls h1 {
	color: white;
}

#vidpause {
	
	.mask {
		
	}
	height: 100%;
	width: 100%;

}

#square {
	height: 100px;
	width: 100px;
	z-index: 2;
	margin: 0 auto;
	background-color:rgba(white, .5);
}