/*
*
* Main Stylesheet For Visual Style Guide
*
**/
@import url("http://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600,300italic,400italic,600italic");
/**
*
* Utils
*
**/
/**
*
* Global
*
**/
* {
  margin: 0;
  padding: 0;
}

html, body {
  background-color: #ececec;
}

html {
  height: 100%;
}

body {
  padding: 15px;
  min-height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  /* Portrait tablet to landscape and desktop */
}
@media (min-width: 992px) {
  body {
    padding: 30px;
  }
}

.body-wrapper {
  width: 100%;
  border: 2px solid #00568e;
}

.container {
  padding: 15px;
  min-height: 1px;
}

.stuck {
  position: fixed;
}

ul {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
  margin-left: 15px;
}

a {
  text-decoration: none;
  color: #333333;
}
a:hover, a:focus {
  color: #333333;
  text-decoration: none;
}

img {
  max-width: 100%;
  margin-bottom: 24px;
}

.centered h1, .centered h2, .centered h3, .centered h4, .centered span, .centered p, .centered a, .centered img, .centered li {
  text-align: center;
}

section {
  padding-top: 15px;
  padding-bottom: 15px;
}

.divider {
  width: 100%;
  height: 5px;
  background-color: #e1261c;
  margin-top: 50px;
}

.centered {
  margin: 0 auto;
  text-align: center;
  padding-top: 0;
  padding-bottom: 0;
  /* Landscape phone to portrait tablet */
}
.centered img {
  max-width: 80%;
}

.content a {
  color: #e1261c;
}

.map-mobile-container {
  display: block;
  /* Portrait tablet to landscape and desktop */
}
@media (min-width: 992px) {
  .map-mobile-container {
    display: none;
  }
}

.navbar {
  border-top: 2px solid #00568e;
  border-bottom: 2px solid #00568e;
  border-radius: 0;
}

.navbar-collapse {
  /* Landscape phone to portrait tablet */
}
@media (min-width: 767px) {
  .navbar-collapse {
    padding-left: 0;
    padding-right: 0;
  }
}

.navbar-toggle .icon-bar {
  background-color: #e1261c;
}

.nav.navbar-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-flex-flow: column wrap;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  /* Landscape phone to portrait tablet */
}
.nav.navbar-nav li {
  margin-bottom: 0;
}
.nav.navbar-nav a {
  margin-bottom: 0;
  color: #00568e;
  padding-left: 0;
  padding-right: 0;
  -webkit-transition: all .15s;
  transition: all .15s;
}
.nav.navbar-nav a:hover, .nav.navbar-nav a:focus {
  color: #e1261c;
}
.nav.navbar-nav a.on {
  color: #e1261c;
}
@media (min-width: 767px) {
  .nav.navbar-nav {
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
  }
  .nav.navbar-nav a {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.navbar .container {
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-brand {
  margin-bottom: 0;
  color: #00568e;
  /* Landscape phone to portrait tablet */
}
.navbar-brand:hover, .navbar-brand:focus {
  color: #00568e;
}
@media (min-width: 767px) {
  .navbar-brand {
    display: none;
  }
}

.nav:after, .nav:before, .navbar-collapse:after, .navbar-collapse:before, .navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before {
  display: table;
  content: none;
}

.split-text {
  display: block;
  /* Portrait tablet to landscape and desktop */
}
@media (min-width: 992px) {
  .split-text {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}
.split-text * {
  color: #00568e;
  text-align: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}
.split-text p {
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 0;
}
.split-text .left-line, .split-text .right-line {
  border-bottom: 2px solid #e1261c;
  display: none;
  /* Portrait tablet to landscape and desktop */
}
@media (min-width: 992px) {
  .split-text .left-line, .split-text .right-line {
    display: block;
  }
}

/**
*
* Quote
*
**/
.quote .quote-content {
  margin-bottom: 30px;
  /* Portrait tablet to landscape and desktop */
}
.quote .quote-content setquote {
  font-weight: 600;
}
.quote .quote-content p {
  margin-left: 0 !important;
}
@media (min-width: 992px) {
  .quote .quote-content {
    max-width: 80%;
    margin-bottom: 50px;
  }
  .quote .quote-content:nth-child(even) {
    margin-left: 20%;
    text-align: right;
  }
  .quote .quote-content:last-of-type {
    margin-bottom: 35px;
  }
}

.collapse-link {
  margin: 15px;
}
.collapse-link a {
  color: #e1261c;
}

/**
*
* Typography
*
**/
h1, h2, h3, h4, h5, p {
  margin: 0;
}

a, p, li, setquote {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 20px;
  color: #58595b;
  font-family: "Josefin Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

li {
  margin-bottom: 5px;
}

h1, h2, h3, h4 {
  color: #00568e;
  font-weight: 300;
  line-height: 1.1;
}

.left {
  text-align: center;
  /* Landscape phone to portrait tablet */
}
@media (min-width: 767px) {
  .left {
    text-align: left;
  }
}

h1 {
  font-size: 36px;
  font-weight: 100;
  /* Landscape phone to portrait tablet */
}
@media (min-width: 767px) {
  h1 {
    font-size: 36px;
  }
}

h2 {
  font-size: 28px;
  margin-bottom: 20px;
  /* Landscape phone to portrait tablet */
}
@media (min-width: 767px) {
  h2 {
    font-size: 42px;
    margin-bottom: 30px;
  }
}

h3 {
  font-size: 18px;
  /* Landscape phone to portrait tablet */
}
@media (min-width: 767px) {
  h3 {
    font-size: 24px;
    margin-bottom: 24px;
    font-weight: 500;
  }
}

h4 {
  font-size: 18px;
  line-height: 28px;
}

.content.agenda p {
  margin-bottom: 5px;
}

.page-closer {
  text-align: center;
}
.page-closer h2 {
  color: #e1261c;
}

.button {
  text-transform: uppercase;
  color: #00568e;
  font-weight: 700;
  margin: 15px 5px;
  display: inline-block;
  padding: 30px 60px;
  background-color: #c0c3c5;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  -webkit-transition: all .25s;
  transition: all .25s;
  position: relative;
  overflow: hidden;
  font-size: 24px;
}
.button:hover, .button:focus {
  color: #00568e;
  background-color: #c5c8ca;
}

.button div {
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: #ececec;
}

.top {
  top: -10px;
}

.bottom {
  bottom: -10px;
}

.left {
  left: -10px;
}

.right {
  right: -10px;
}

.video {
  position: relative;
  padding: 0;
  margin: 15px 0;
  display: none;
  /* Landscape phone to portrait tablet */
}
.video:hover, .video:focus {
  cursor: pointer;
}
.video h2 {
  z-index: 2;
}
@media (min-width: 767px) {
  .video {
    display: block;
  }
}

.video video {
  position: relative;
  width: 100%;
  z-index: 0;
}

.video .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  text-align: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.video .overlay.mask {
  background-color: rgba(0, 0, 0, 0.4);
}

#controls h1 {
  color: white;
  margin-top: 10px;
}

#vidpause {
  height: 99%;
  width: 100%;
}

#square {
  height: 100px;
  width: 100px;
  background-size: contain;
  margin-bottom: 20px;
  background-image: url("../../../assets/img/play.png");
  z-index: 2;
  margin: 0 auto;
}
