
.navbar {
	border-top: 2px solid $navy-blue;
	border-bottom: 2px solid $navy-blue;
	border-radius: 0;
}

.navbar-collapse {
	@include breakpoint(small) {
		padding-left: 0;
		padding-right: 0;
	}
}

.nav.navbar-nav {
	display: flex;
	width: 100%;
		display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: start;
    -moz-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
	flex-flow: column nowrap;
	li {
		margin-bottom: 0;
	}
	a {
		margin-bottom: 0;
		color: $navy-blue;
		padding: 30px;
		transition: all .15s;
		&:hover, &:focus {
			color: $red;
		}
		&.on {
			color: $red;
		}
	}

	@include breakpoint(small) {
		flex-flow: row nowrap;
	}
	a {
		padding-left: 0;
		padding-right: 0;
	}
}

.nav:after, .nav:before, .navbar-collapse:after, .navbar-collapse:before, .navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before,  {
display: table;
content: none;
}