/**
*
* Quote
*
**/


.quote {
  .quote-content {
    margin-bottom: 30px;
    setquote {
      font-weight: 600;
    }
    p:last-of-type {
      margin-bottom: 0;
    }
    p {
      margin-left: 0 !important;

    }
    @include breakpoint(medium) {
      max-width: 80%;
      margin-bottom: 50px;
      &:nth-child(even) {
        margin-left: 20%;
        text-align: right;
      }
      &:last-of-type {
        margin-bottom: 35px;
      }
    }

  }
}

.collapse-link {
  margin: 15px 0;
  a {
    color: $red;
  }
}